@model BootstrapERP.Models.QuoteAuthor
@{
    ViewBag.Title = "Edit Quotation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h4 style="display:inline-block"><span class="hapText"> @ViewBag.Title</span> <small> </small></h4>
                <ol class="breadcrumbLine" style="float:right;display:inline-block">
                    <li class="hapText">@Html.ActionLink("Home", "Index", "BlogPosts")</li>
                    <li class="hapText">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-12" style="min-height:500px">
            @using (Html.BeginForm("Edit", "QuotationEntry", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
            <div class="row">
                <div class="form-group col-lg-8">
                    <label for="input1" class="labelcss" >Author</label>
                    @Html.DropDownList("QuoteAuthorID", null, new { type = "text", @class = "form-control" })
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-lg-8">
                    <label for="input1" class="labelcss">Quotation Type</label>
                    @Html.DropDownList("AuthorTypeID", null, new { type = "text", @class = "form-control" })
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-lg-8">
                    <label for="input1" class="labelcss">Quotation</label><br />
                    @Html.TextBoxFor(model => model.QuoteDescription, new { style = "width:100%;", @class = "form-control", @required = true })
                    @Html.ValidationMessageFor(model => model.QuoteDescription, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.QuoteID)
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-lg-8">
                    <label for="input1" class="labelcss">Remarks</label><br />
                    @Html.TextBoxFor(model => model.QuoteRemarks, new { style = "width:100%;", @class = "form-control", @required = true })
                    @Html.ValidationMessageFor(model => model.QuoteRemarks, "", new { @class = "text-danger" })
                </div>
                <div class="clearfix"></div>

            </div>

                <div class="clearfix"></div>
                @*<br />*@
                <div class="row">
                    <div class="form-group col-lg-12">
                        <button type="submit" name="updateQuotation"  class="btn btn-success btn-anim"><i class="fa fa-pencil-square-o"></i><span class="btn-text">Update</span> </button>
                        &nbsp;&nbsp;|&nbsp;&nbsp;@Html.ActionLink("Back", "Index", "QuotationRecord")
                    </div>
                </div>

            }
        </div>

    </div><!-- /.row -->

    <div class="row" style="min-height:50px"></div>

</div>

