@model BootstrapERP.Models.siteContentEntryTemp

@{
    ViewBag.Title = "Content Entry";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                @using (Html.BeginForm("EditContent", "SiteContentEntry", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @*<div class="form-horizontal">*@


                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.contentID)
                    <div class="form-group col-md-8">
                        <label for="input1">Title</label><br />
                        @Html.TextBoxFor(model => model.contentTitle, new { style = "width:100%;", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.contentTitle, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input4">Image</label>
                        <input name="uploadFile" type="file" />
                        @Html.ValidationMessageFor(model => model.contentImageURL, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.contentImageURL)
                        <div class="clearfix"></div>
                        @{
                            var contentImageURLTemp = Model.contentImageURL == null ? string.Empty : Model.contentImageURL;
                        }
                        @if (contentImageURLTemp != string.Empty)
                        {
                            <a class="title" name="AttachedImage">@contentImageURLTemp.Remove(0, 17)</a>
                        }
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input1">Sub Title</label><br />
                        @Html.TextBoxFor(model => model.contentSubTitle, new { style = "width:100%;", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.contentSubTitle, "", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input1">Introductory Content</label><br />
                        @Html.TextBoxFor(model => model.introductoryText, new { style = "width:100%;", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.introductoryText, "", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Description</label>
                        @Html.TextAreaFor(model => model.contentDescription, new { rows = "20", style = "resize:none;width:100%;", placeholder = Html.DisplayNameFor(model => model.contentDescription), @class = "form-control input-lg textarea-editor" })

                    </div>
                    <div class="clearfix"></div>
                    <p>
                        <div class="form-group col-lg-12">
                            <input type="submit" value="Add to List" class="btn btn-success" />&nbsp;&nbsp;|&nbsp;&nbsp;@Html.ActionLink("Back to List", "Index")
                        </div>
                    </p>
                    @*</div>*@
                }
            </div>
                </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/summernote/summernote.js"></script>
    <link href="~/Scripts/summernote/summernote.css" rel="stylesheet" />
    <script src="~/Scripts/script-custom-editor.js"></script>
}