@model BootstrapERP.Models.UserList

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h4 style="display:inline-block">@ViewBag.Title <small> </small></h4>
                <ol class="breadcrumbLine" style="float:right;display:inline-block">
                    <li>@Html.ActionLink("Home", "Index", "BlogPosts")</li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            @using (Html.BeginForm("UserRegister", "HomePageRegister"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true)
                    <h5><b>User Register:</b></h5>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div style="display:inline;padding-top:15px;float:left">
                                @Html.TextBoxFor(model => model.SecurityCode, new { placeholder = "Security Code", type = "text", @class = "form-control", style = "width:300px !important", @required = true })
                                @Html.ValidationMessageFor(model => model.SecurityCode)
                            </div>
                            <div style="display:inline;padding-top:15px;float:left">
                                @Html.TextBoxFor(model => model.UserName, new { placeholder = "User Name", type = "text", @class = "form-control", style = "width:300px !important", @required = true })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                            <div style="display:inline;padding-top:15px;float:left">
                                @Html.TextBoxFor(model => model.UserPassword, new { placeholder = "Password", type = "password", @class = "form-control", style = "width:300px !important", @required = true })
                                @Html.ValidationMessageFor(model => model.UserPassword)
                            </div>
                            <div style="display:inline;padding-top:15px;float:left">
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password", type = "password", @class = "form-control", style = "width:300px !important", @required = true })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                            <div style="display:inline;padding-top:15px;float:left">
                                @Html.TextBoxFor(model => model.UserEmail, new { placeholder = "Email", type = "email", @class = "form-control", style = "width:300px !important", @required = true })
                                @Html.ValidationMessageFor(model => model.UserEmail)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="min-height:15px"></div>

                    <div class="form-group">
                        <div class="col-md-10 ">
                            <div style="display:inline;float:left">
                                <input type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="col-md-6">
            <img src="~/Images/CreateAccount.jpg" class="img-responsive">
        </div>
    </div>
    <div class="row" style="min-height:45px">
    </div>
</div>

