@model BootstrapERP.Models.SiteContentDetails
@using System.Data;
<link rel="canonical" href="https://alltimestudy.com/BlogPosts" />

@{
    ViewBag.Title = "Blog Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('@Url.Content("~/ImagesUploaded/trump.jpeg")');background-attachment: fixed;min-height:350px;class=" img-responsive"">
                    <div class="container">
                        <div class="col-md-9" style="padding-top:70px">
                            @foreach (DataRow rowNo in Model.DtBlogPostsTopStories.Rows)
                            {
                                var @ContentID = rowNo["ContentID"].ToString();
                                var @contentDetailImageURL = rowNo["ContentDetailImageURL"].ToString() == "" ? "~/ImagesUploaded/750x500.png" : rowNo["ContentDetailImageURL"].ToString();
                                var @contentTitle = rowNo["ContentDetailTitle"].ToString() == null ? "" : rowNo["ContentDetailTitle"].ToString();
                                var @fullName = rowNo["FullName"].ToString() == null ? "" : rowNo["FullName"].ToString();
                                var @contentEntryDate = Convert.ToDateTime(rowNo["EntryDate"].ToString());
                                var @contentIntroductoryText = rowNo["ContentIntroductoryText"].ToString() == null ? "" : rowNo["ContentIntroductoryText"].ToString();
                                <h4>
                                    <a style="color:white" href="@Url.Action("BlogDescription", "SiteContentDisplay",new { @contentDetailID =Convert.ToInt32(@ContentID)})">@Html.Raw(@contentTitle.Length > 40 ? @contentTitle.Substring(0, 40) + " . . ." : @contentTitle)</a>

                                </h4>
                            }

                        </div>
                        <div class="col-md-3" style="padding-top:70px">
                            @foreach (DataRow rowNo in Model.DtblogQuote.Rows)
                            {
                                var @QuoteID = rowNo["QuoteID"].ToString();
                                var @QuoteAuthor = rowNo["QuoteAuthor"].ToString() == null ? "" : rowNo["QuoteAuthor"].ToString();
                                var @QuoteDescription = rowNo["QuoteDescription"].ToString() == null ? "" : rowNo["QuoteDescription"].ToString();
                                var @contentEntryDate = Convert.ToDateTime(rowNo["EntryDate"].ToString());

                                <div style="float:left;">
                                    <h4>
                                        <a style="color:white;text-decoration:none;">@Html.Raw(@QuoteDescription.Length > 50 ? @QuoteDescription.Substring(0, 50) + " . . ." : @QuoteDescription)</a>

                                    </h4>
                                </div>
                                <br />
                                <div style="float:left;">
                                    <h5>
                                        <a style="color:white"> ~ @Html.Raw(@QuoteAuthor.Length > 50 ? @QuoteAuthor.Substring(0, 50) + " . . ." : @QuoteAuthor)</a>

                                    </h5>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@if (Model.BannerURL == null)
{
    Model.BannerURL = "~/ImagesUploaded/750x500.png";

}

<div class="fill" style="margin-top:-15px;background-image:url('@Url.Content(Model.BannerURL)');background-attachment: fixed;min-height:350px;class=" img-responsive"">
    <div class="container">
        <div class="col-md-9" style="padding-top:70px;">
            @foreach (DataRow rowNo in Model.DtBlogPremium.Rows)
            {
                var @ContentID = rowNo["ContentID"].ToString();
                var @contentDetailImageURL = rowNo["ContentDetailImageURL"].ToString() == "" ? "~/ImagesUploaded/750x500.png" : rowNo["ContentDetailImageURL"].ToString();
                var @contentTitle = rowNo["ContentDetailTitle"].ToString() == null ? "" : rowNo["ContentDetailTitle"].ToString();
                var @fullName = rowNo["FullName"].ToString() == null ? "" : rowNo["FullName"].ToString();
                var @contentEntryDate = Convert.ToDateTime(rowNo["EntryDate"].ToString());
                var @contentIntroductoryText = rowNo["ContentIntroductoryText"].ToString() == null ? "" : rowNo["ContentIntroductoryText"].ToString();
                string @hiphenUrl = @contentTitle.ToString().Replace(" ", "-").Replace(",", "").Replace(":", "");
                <h4>
                    <a style="color:white" href="@Url.Action("BlogDescription", "SiteContentDisplay",new { @contentDetailID =Convert.ToInt32(@ContentID),@ctitle =(@hiphenUrl)})">@Html.Raw(@contentTitle.Length > 40 ? @contentTitle.Substring(0, 40) + " . . ." : @contentTitle)</a>

                </h4>
            }

        </div>

        <div class="col-md-3" style="padding-top:70px">
            @foreach (DataRow rowNo in Model.DtblogQuote.Rows)
            {
                var @QuoteID = rowNo["QuoteID"].ToString();
                var @QuoteAuthorID = rowNo["QuoteAuthorID"].ToString();
                var @QuoteAuthor = rowNo["AuthorFullName"].ToString() == null ? "" : rowNo["AuthorFullName"].ToString();
                var @QuoteDescription = rowNo["QuoteDescription"].ToString() == null ? "" : rowNo["QuoteDescription"].ToString();
                var @contentEntryDate = Convert.ToDateTime(rowNo["EntryDate"].ToString());

                <div style="float:left;">
                    <h4>
                        <a style="color:white;text-decoration:none;">@Html.Raw(@QuoteDescription.Length > 50 ? @QuoteDescription.Substring(0, 50) + " . . ." : @QuoteDescription)</a>

                    </h4>
                </div>
                <br />
                <div style="float:left;">
                    <h5>
                        <a style="color:white" href="@Url.Action("Quotations", "QuotationAuthor",new { @authorIndex =Convert.ToInt32(@QuoteAuthorID),@authorName = @QuoteAuthor})"> ~ @Html.Raw(@QuoteAuthor.Length > 50 ? @QuoteAuthor.Substring(0, 50) + " . . ." : @QuoteAuthor)</a>

                    </h5>
                </div>
                <br />
            }
        </div>
    </div>
</div>

<div class="container" style="min-height:25px">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-9" style="display:inline-block">

            @foreach (DataRow rowNo in Model.DtBlogPostsTopStories.Rows)
            {
                var @ContentID = rowNo["ContentID"].ToString();
                var @contentDetailImageURL = rowNo["ContentDetailImageURL"].ToString() == "" ? "~/ImagesUploaded/750x500.png" : rowNo["ContentDetailImageURL"].ToString();
                var @contentTitle = rowNo["ContentDetailTitle"].ToString() == null ? "" : rowNo["ContentDetailTitle"].ToString();
                var @fullName = rowNo["FullName"].ToString() == null ? "" : rowNo["FullName"].ToString();
                var @contentEntryDate = Convert.ToDateTime(rowNo["EntryDate"].ToString());
                var @contentIntroductoryText = rowNo["ContentIntroductoryText"].ToString() == null ? "" : rowNo["ContentIntroductoryText"].ToString();
                string @hiphenUrl = @contentTitle.ToString().Replace(" ", "-").Replace(",", "").Replace(":", "");
                var @ContentCategoryTitle = rowNo["ContentCategoryTitle"].ToString() == null ? "" : rowNo["ContentCategoryTitle"].ToString();
                <div class="row">
                    @if (Convert.ToInt32(@ContentID) != 0)
                    {
                        <div class="col-md-3">
                            <p>
                                <img src="@Url.Content(@contentDetailImageURL)" class="img-responsive" />
                            </p>

                        </div>
                        <div class="col-md-9">
                            <h3>
                                <a href="@Url.Action("BlogDescription", "SiteContentDisplay",new { @contentDetailID =Convert.ToInt32(@ContentID),@ctitle =(@hiphenUrl)})">@Html.Raw(@contentTitle)</a>

                            </h3>
                            <p>
                                @Html.Raw(@fullName) | @Html.Raw(@contentEntryDate.ToString("D")) | @Html.Raw(@ContentCategoryTitle)
                            </p>
                            <p>@Html.Raw(@contentIntroductoryText)</p>


                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                    }
                </div>

            }

        </div>
        <div class="col-md-3" style="display:inline-block">
            <div>
                <img style="height: 200px; width: 100%;" class="img-responsive img-home-portfolio" src="~/Images/license-banner.svg">
            </div>
            <div>
                <img style="height: 200px; width: 100%;" class="img-responsive img-home-portfolio" src="~/Images/license-banner.svg">
            </div>
            <div>
                <img style="height: 200px; width: 100%;" class="img-responsive img-home-portfolio" src="~/Images/license-banner.svg">
            </div>
        </div>
    </div>
</div>
<div class="container" style="text-align:center;vertical-align:middle;padding-bottom:10px;">
    <div class="row">
        <div class="col-md-9">
            <h2 style="font:bolder;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">/ @Html.Raw(Model.ContentCategoryTitle) / </h2>
        </div>
        <div class="col-md-3">

        </div>

    </div>
</div>
<div class="clearfix"></div>
<div class="container">
    <div class="row">
        <div class="col-md-9" style="display:inline-block;text-align:left">

            @foreach (DataRow rowNo in Model.DtBlogUniqueCategory.Rows)
            {
                var @ContentID = rowNo["ContentID"].ToString();
                var @contentDetailImageURL = rowNo["ContentDetailImageURL"].ToString() == "" ? "~/ImagesUploaded/750x500.png" : rowNo["ContentDetailImageURL"].ToString();
                var @contentTitle = rowNo["ContentDetailTitle"].ToString() == null ? "" : rowNo["ContentDetailTitle"].ToString();
                var @fullName = rowNo["FullName"].ToString() == null ? "" : rowNo["FullName"].ToString();
                var @contentEntryDate = Convert.ToDateTime(rowNo["EntryDate"].ToString());
                var @contentIntroductoryText = rowNo["ContentIntroductoryText"].ToString() == null ? "" : rowNo["ContentIntroductoryText"].ToString();
                string @hiphenUrl = @contentTitle.ToString().Replace(" ", "-").Replace(",", "").Replace(":", "");

                <div class="col-md-4 portfolio-item" style="text-align:left;min-height:200px">
                    <a href="@Url.Action("BlogDescription", "SiteContentDisplay",new { @contentDetailID =Convert.ToInt32(@ContentID)})">
                        <img style="height:130px;width:auto" src="@Url.Content(@contentDetailImageURL)" class="img-responsive" />
                    </a>
                    <h4>
                        <a href="@Url.Action("BlogDescription", "SiteContentDisplay",new { @contentDetailID =Convert.ToInt32(@ContentID),@ctitle =(@hiphenUrl)})">@Html.Raw(@contentTitle.Length > 40 ? @contentTitle.Substring(0, 40) + " . . ." : @contentTitle)</a>

                    </h4>
                </div>
            }

        </div>
        <div class="col-md-3" style="display:inline-block">
            <div>
                <img style="height: 200px; width: 100%;" class="img-responsive img-home-portfolio" src="~/Images/license-banner.svg">
            </div>
            <div>
                <img style="height: 200px; width: 100%;" class="img-responsive img-home-portfolio" src="~/Images/license-banner.svg">
            </div>

        </div>
        <div class="col-md-9">
            <hr>
        </div>
    </div>

</div>
<div class="container" style="min-height:25px">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-9" style="display:inline-block">

            @foreach (DataRow rowNo in Model.DtBlogPostsWhatsHot.Rows)
            {
                var @ContentID = rowNo["ContentID"].ToString();
                var @contentDetailImageURL = rowNo["ContentDetailImageURL"].ToString() == "" ? "~/ImagesUploaded/750x500.png" : rowNo["ContentDetailImageURL"].ToString();
                var @contentTitle = rowNo["ContentDetailTitle"].ToString() == null ? "" : rowNo["ContentDetailTitle"].ToString();
                var @fullName = rowNo["FullName"].ToString() == null ? "" : rowNo["FullName"].ToString();
                var @contentEntryDate = Convert.ToDateTime(rowNo["EntryDate"].ToString());
                var @contentIntroductoryText = rowNo["ContentIntroductoryText"].ToString() == null ? "" : rowNo["ContentIntroductoryText"].ToString();
                string @hiphenUrl = @contentTitle.ToString().Replace(" ", "-").Replace(",", "").Replace(":", "");
                var @ContentCategoryTitle = rowNo["ContentCategoryTitle"].ToString() == null ? "" : rowNo["ContentCategoryTitle"].ToString();
                <div class="row">
                    @if (Convert.ToInt32(@ContentID) != 0)
                    {
                        <div class="col-md-3">
                            <p>
                                <img src="@Url.Content(@contentDetailImageURL)" class="img-responsive" />
                            </p>

                        </div>
                        <div class="col-md-9">
                            <h3>
                                <a href="@Url.Action("BlogDescription", "SiteContentDisplay",new { @contentDetailID =Convert.ToInt32(@ContentID),@ctitle =(@hiphenUrl)})">@Html.Raw(@contentTitle)</a>

                            </h3>
                            <p>
                                @Html.Raw(@fullName) | @Html.Raw(@contentEntryDate.ToString("D")) | @Html.Raw(@ContentCategoryTitle)
                            </p>
                            <p>@Html.Raw(@contentIntroductoryText)</p>


                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>

                    }

                </div>
                <div class="row">

                </div>
            }

        </div>
        <div class="col-md-3" style="display:inline-block">
            <div>
                <img style="height: 200px; width: 100%;" class="img-responsive img-home-portfolio" src="~/Images/license-banner.svg">
            </div>
            <div>
                <img style="height: 200px; width: 100%;" class="img-responsive img-home-portfolio" src="~/Images/license-banner.svg">
            </div>
            <div>
                <img style="height: 200px; width: 100%;" class="img-responsive img-home-portfolio" src="~/Images/license-banner.svg">
            </div>
        </div>
    </div>
</div>

<div class="container" style="text-align:center;vertical-align:middle;padding-bottom:10px;">
    <div class="row">
        <div class="col-md-9">
            <h2 style="font:bolder;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">/ @Html.Raw(Model.ContentCategoryTitle2) / </h2>
        </div>
        <div class="col-md-3">

        </div>

    </div>
</div>
<div class="clearfix"></div>
<div class="container">
    <div class="row">
        <div class="col-md-9" style="display:inline-block;text-align:left">

            @foreach (DataRow rowNo in Model.DtBlogUniqueCategory2.Rows)
            {
                var @ContentID = rowNo["ContentID"].ToString();
                var @contentDetailImageURL = rowNo["ContentDetailImageURL"].ToString() == "" ? "~/ImagesUploaded/750x500.png" : rowNo["ContentDetailImageURL"].ToString();
                var @contentTitle = rowNo["ContentDetailTitle"].ToString() == null ? "" : rowNo["ContentDetailTitle"].ToString();
                var @fullName = rowNo["FullName"].ToString() == null ? "" : rowNo["FullName"].ToString();
                var @contentEntryDate = Convert.ToDateTime(rowNo["EntryDate"].ToString());
                var @contentIntroductoryText = rowNo["ContentIntroductoryText"].ToString() == null ? "" : rowNo["ContentIntroductoryText"].ToString();
                string @hiphenUrl = @contentTitle.ToString().Replace(" ", "-").Replace(",", "").Replace(":", "");

                <div class="col-md-4 portfolio-item" style="text-align:left;min-height:200px">
                    <a href="@Url.Action("BlogDescription", "SiteContentDisplay",new { @contentDetailID =Convert.ToInt32(@ContentID)})">
                        <img style="height:130px;width:auto" src="@Url.Content(@contentDetailImageURL)" class="img-responsive" />
                    </a>
                    <h4>
                        <a href="@Url.Action("BlogDescription", "SiteContentDisplay",new { @contentDetailID =Convert.ToInt32(@ContentID),@ctitle =(@hiphenUrl)})">@Html.Raw(@contentTitle.Length > 40 ? @contentTitle.Substring(0, 40) + " . . ." : @contentTitle)</a>

                    </h4>
                </div>
            }

        </div>
        <div class="col-md-3" style="display:inline-block">
            <div>
                <img style="height: 200px; width: 100%;" class="img-responsive img-home-portfolio" src="~/Images/license-banner.svg">
            </div>
            <div>
                <img style="height: 200px; width: 100%;" class="img-responsive img-home-portfolio" src="~/Images/license-banner.svg">
            </div>

        </div>
        <div class="col-md-9">
            <hr>
        </div>
    </div>

</div>